@model IEnumerable<KTB.Models.Book>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create"><button class="btn btn-success"><span class="fa fa-plus-square"></span> Add new Book</button></a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edition)
            </th>
            <th>
                Publisher
            </th>
            <th>
                Authors
            </th>
            <th style="width:3%; text-align:center;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <img style="width:200px;" src="@item.URL" alt="@item.Title" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Edition)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Publishers.Name)
                </td>
                <td>
                    @foreach (var author in ViewData["Authors"] as List<Author>)
                    {
                        foreach (var bookAuthor in ViewData["BookAuthor"] as List<BookAuthor>)
                        {
                            if (author.Id == bookAuthor.AuthorId && item.Id == bookAuthor.BookId)
                            {
                                <div id="authorBox">
                                    <span id="authorName">@author.Name</span>
                                    <img id="authorImage" src="@author.Image" alt="@author.Name" />
                                </div>

                            }
                        }
                    }
                </td>
                <td style="text-align:center;">
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id"><span style="color: green;" class="fa fa-edit"></span></a>
                        <!--<a asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-info"></span></a> -->
                        <a asp-action="Delete" asp-route-id="@item.Id"><span style="color:red;" class="fa fa-trash"></span></a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
