@model IEnumerable<KTB.Models.Book>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create"><button class="btn btn-success"><span class="fa fa-plus-square"></span> Add new Book</button></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publishers)
            </th>
            <th>
                Authors
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                <img style="width:200px;" src="@item.URL" alt="@item.Title" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publishers.Name)
            </td>
            <td>
                @foreach (var author in ViewData["Authors"] as List<Author>)
                {
                    foreach (var bookAuthor in ViewData["BookAuthor"] as List<BookAuthor>)
                    {
                        if (author.Id == bookAuthor.AuthorId && item.Id == bookAuthor.BookId)
                        {
                            <div id="authorBox">
                                <span id="authorName">@author.Name</span>
                                <img id="authorImage" src="@author.Image" alt="@author.Name" />
                            </div>

                        }
                    }
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
