@model IEnumerable<KTB.Models.Order>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<h3>List of Orders</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                Book
            </th>
            <th>
                Customer
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastUpdated)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            if (item.UserId == UserManager.GetUserId(User))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Books.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdated)
                    </td>
                    <td>
                        @if (item.Status == OrderState.InCart)
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id"><span style="color: blue;" class="fa fa-edit"></span></a>
                            <!--<a asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-info"></span></a> -->
                            <a asp-action="Delete" asp-route-id="@item.Id"><span style="color:red;" class="fa fa-trash"></span></a>
                            <a asp-action="Confirm" asp-route-id="@item.Id"><span style="color:green;" class="fa fa-check"></span></a>
                        }
                    </td>
                </tr>
            }
            if (User.IsInRole("Admin"))
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Books.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Users.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastUpdated)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><span style="color: green;" class="fa fa-edit"></span></a>
                        <!--<a asp-action="Details" asp-route-id="@item.Id"><span class="fa fa-info"></span></a> -->
                        <a asp-action="Delete" asp-route-id="@item.Id"><span style="color:red;" class="fa fa-trash"></span></a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
