@model KTB.Models.Author

@{
    ViewData["Title"] = "Delete";
}



<div>
    <h4>Delete the Author</h4>
    <hr />

    
        @{List<BookAuthor> bookAuthors = ViewData["bookAuthors"] as List<BookAuthor>; }
        @if (bookAuthors.Count == 0)
        {
            <h3>Are you sure you want to delete this?</h3>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Image)
                </dt>
                <dd class="col-sm-10">
                    <img style="width:200px; height:200px; border-radius:50%;" src="@Model.Image" alt="Alternate Text" />
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Nationality)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Nationality)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.DoB)
                </dt>
                <dd class="col-sm-10">
                    @Model.DoB.Date
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a asp-action="Index">Back to List</a>
            </form>
        }
        else
        {
            <h5 class="bg-warning" style="padding:5px; text-align:center;">Sorry! We cannot delete this Author because he/she is registered as a writer/co-writer of Book(s)</h5>
            <table style="text-align:center;">
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Book Cover</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var book in ViewData["books"] as List<Book>)
                    {


                        foreach (var bookAuthor in bookAuthors)
                        {
                            if (book.Id == bookAuthor.BookId)
                            {
                                <tr>
                                    <td style="width:200px;">@book.Title</td>
                                    <td><img style="width:200px;" src="@book.URL" alt="@book.Title" /></td>
                                </tr>
                            }
                        }

                    }
                </tbody>
            </table>
            <h5 class="bg-primary" style="padding:5px; text-align:center;">Please delete/update these books before deletion of author.</h5>
        }
   
</div>
